.main-box {
width:600px;
border:2px solid green;
margin:auto;
padding:30px;
}


.title{
    border :1px solid black;
    text-align: center;
    border-radius:10px;
    margin-bottom: 50px;
}
.content{
    border:1px solid black;
    background:grey;
    padding: 15px;
}

.content p{
    display: inline-block;
    width: 150px;
}